
.banner-img img {
    width: 100%;
    border-radius: 5px;
}

.carrousel{ 
    border-radius: 10px;
}

.field-btn-conectar {
    padding-top: 2%;
    margin-bottom: 5%;
}

.btn-conectar {    
    width: 100%;
    border-radius: 5px;
    border: none;  
    font-size: 16px;   
    font-weight: 500;
    cursor: pointer;
    border-radius: 5px;
    color: #EEE;
    background-color: #20396f;
    border-color: #20396f;
}

.btn-conectar:hover,
.btn-conectar:focus {
  background: #f1d02d;
}


.slick-prev {
    left: 2%;
    z-index: 2;
}

.slick-next {
    right: 2%;
}



